<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="{{static_url_for('static', filename='build/default_css.bundle.css')}}">
    {% block css %}{% endblock %}

    <link rel="manifest" href="site.webmanifest">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container-fluid">
        {% block content required %}{% endblock %}
    </div>

    <script type="text/javascript" charset="utf-8" src="{{static_url_for('static', filename='build/default_js.bundle.js')}}"></script>
    {% block js %}{% endblock %}

</body>
</html>
